<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <script type="text/javascript" th:src="@{/js/jquery-3.3.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/materialize.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-validation-1.17.0/dist/jquery.validate.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/jquery-validation-1.17.0/dist/additional-methods.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/utils.js}"></script>
    <script th:src="@{/js/doctor/form.js}"></script>
    <script th:src="@{/js/doctor/index.js}"></script>

    <script type="text/javascript" th:src="@{/js/lib/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/moment.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/lib/fullcalendar/fullcalendar.js}"></script>
</html>