<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Antecedentes</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb" th:href="@{/background}">Antecedentes</a>
                            <a class="breadcrumb">Cadastro de Antecedentes</a>
                        </div>
                    </div>
                </nav>
            </div>
            <th:block th:include="message"></th:block>
            <form action="#" th:action="@{/background}" th:object="${background}" method="POST">
                <input id="id" th:field="*{id}" type="hidden">
                <div class="row">
                    <div class="input-field col s12">
                        <input id="name" th:field="*{name}" type="text">
                        <label for="name">Nome</label>
                    </div>
                </div>
                <button class="waves-effect waves-light btn" type="submit">Salvar
                    <i class="material-icons right">send</i>
                </button>
                <a href="/background" class="waves-effect waves-light btn">Voltar</a>
            </form>
        </div>
    </div>
    <script th:src="@{/js/form_background.js}"></script>
</div>

</html>