<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Consulta</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb">Cadastro de Consulta</a>
                        </div>
                    </div>
                </nav>
            </div>
            <th:block th:include="message"></th:block>
            <form action="#" th:action="@{/consults}" th:object="${consults}" method="post">
                <div class="input-field col s2">
                    <input id="birthday" th:field="*{date}" type="text" class="datepicker">
                    <label for="birthday">Data de Nascimento</label>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="medicalProcedure" id="medicalProcedure">
                            <option value="">Selecione um Procedimento</option>
                            <option th:each     ="medicalprocedure : ${medicalprocedures}"
                                    th:selected ="${medicalprocedure == process.medicalProcedure}"
                                    th:value    ="${medicalprocedure.id}"
                                    th:text     ="${medicalprocedure.name}"></option>
                        </select>
                    </div>
                </div>

            </form>
            <button class="waves-effect waves-light btn" type="button" onclick="clickBtnSalvar()">Salvar
                <i class="material-icons right">send</i>
            </button>
            <a href="/process" class="waves-effect waves-light btn">Voltar</a>
        </div>
    </div>
    <script th:src="@{/js/form_patient.js}"></script>
</div>

</html>