<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Processos</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb" th:href="@{/process}">Cadastro de Processos</a>
                            <a class="breadcrumb" th:text="${metodo} + Processos"></a>
                        </div>
                    </div>
                </nav>
            </div>
            <form action="#" th:action="@{/process}" th:object="${process}" method="POST" id="form_process">
                <input id="id" th:field="*{id}" type="hidden">
                <div class="row">
                    <div class="input-field col s6">
                        <select name="doctor" id="doctor">
                            <option value="">Selecione um Médico</option>
                            <option th:each     ="doctor : ${doctors}"
                                     th:selected ="${doctor == process.doctor}"
                                    th:value    ="${doctor.id}"
                                    th:text     ="${doctor.name}">
                            </option>
                        </select>
                        <label for="doctor">Médico</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="patient" id="patient">
                            <option value="">Selecione um Paciente</option>
                            <option th:each     ="patient : ${patients}"
                                    th:selected ="${patient == process.patient}"
                                    th:value    ="${patient.id}"
                                    th:text     ="${patient.name}"></option>
                        </select>
                        <label for="patient">Paciente</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s6">
                        <select name="medicalProcedure" id="medicalProcedure">
                            <option value="">Selecione um Procedimento</option>
                            <option th:each     ="medicalprocedure : ${medicalprocedures}"
                                    th:selected ="${medicalprocedure == process.medicalProcedure}"
                                    th:value    ="${medicalprocedure.id}"
                                    th:text     ="${medicalprocedure.name}"></option>
                        </select>
                        <label for="medicalProcedure">Procedimento</label>
                    </div>
                    <div class="input-field col s6">
                        <select name="exam" id="exam">
                            <option value="">Selecione o Exame Adicional</option>
                            <option th:each     ="exam : ${exams}"
                                    th:value    ="${exam.id}"
                                    th:text     ="${exam.name}"></option>
                        </select>
                        <label for="exam">Exames Adicionais</label>
                    </div>
                </div>
                <h5>Exames:</h5>
                <table id="table_exames">
                    <thead>
                        <tr>
                            <th>Código</th>
                            <th>Nome</th>
                            <th>Tempo de Jejum</th>
                            <th>Aprovado</th>
                            <th>Ações</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="processexam,index : *{procesexams}" th:id="${processexam.id}" th:data-index="${index.index+1}">
                            <td><span th:text="${processexam.exams.getId()}"></span></td>
                            <td th:text="${processexam.exams.getName()}"><span></span></td>
                            <td th:text="${processexam.exams.getJejumTime()}"><span></span></td>
                            <td>
                                <p>
                                    <label>
                                        <input type="checkbox" th:checked="${processexam.approved}" class="filled-in approved_change" />
                                        <span></span>
                                    </label>
                                </p>
                            </td>
                            <td class="acoes"><a class="waves-effect waves-light btn remover_exam" th:data-index="${index.index+1}" >Remover</a></td>
                        </tr>
                    </tbody>
                </table>
                <button class="waves-effect waves-light btn" type="button" onclick="clickBtnSalvar()">Salvar
                    <i class="material-icons right">send</i>
                </button>
                <a href="/process" class="waves-effect waves-light btn">Voltar</a>
            </form>
        </div>
    </div>
</div>
</html>