<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Consulta</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb">Cadastro de Consulta</a>
                        </div>
                    </div>
                </nav>
            </div>
            <th:block th:include="message"></th:block>
            <form action="#" th:action="@{/consult}" th:object="${consult}" method="post">
                <div class="input-field col s2">
                    <input id="date" th:field="*{date}" type="text" class="datepicker">
                    <label for="date">Data da Consulta</label>
                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select name="medicalProcedure" id="medicalProcedure">
                            <option value="">Selecione um Procedimento</option>
                            <option th:each     ="medicalprocedure : ${medicalprocedures}"
                                    th:selected ="${medicalprocedure == process}"
                                    th:value    ="${medicalprocedure}"
                                    th:text     ="${medicalprocedure.getPacienteMedico()}"></option>
                        </select>

                    </div>

                </div>

                <div class="row">
                    <div class="input-field col s6">
                        <select name="medicalProcedure" id="medicalProcedure">
                            <option value="">Selecione um Procedimento</option>
                            <option th:each     ="medicalprocedure : ${medicalprocedures}"
                                    th:selected ="${medicalprocedure == process}"
                                    th:value    ="${medicalprocedure}"
                                    th:text     ="${medicalprocedure.getPacienteMedico()}"></option>
                        </select>

                    </div>

                </div>


                <button class="waves-effect waves-light btn" type="submit">Salvar
                    <i class="material-icons right">send</i>
                </button>
                <a href="/consult" class="waves-effect waves-light btn">Voltar</a>

            </form>

        </div>
    </div>
    <script th:src="@{/js/form_patient.js}"></script>
</div>

</html>