<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Pacientes</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb">Cadastro de Pacientes</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <form method="get">
                    <div class="input-field col s3">
                        <input id="cpf" name="cpf" type="text">
                        <label for="cpf">CPF</label>
                    </div>
                    <div class="input-field col s8">
                        <input id="name" name="name" type="text">
                        <label for="name">Nome</label>
                    </div>
                    <div class="col s1">
                        <div class="row">
                            <div class="col s6">
                                <a href="/patient"
                                   class="tooltipped btn-floating btn-large waves-effect waves-light blue"
                                   data-tooltip="Limpar os filtros"><i
                                        class="material-icons">clear_all</i></a>
                            </div>
                            <div class="col s6">
                                <button type="submit"
                                        class="tooltipped btn-floating btn-large waves-effect waves-light blue"
                                        data-tooltip="Buscar os pacientes pelos trechos de CPF e nome informados"><i
                                        class="material-icons">done</i></button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="table-wrapper">
                <table style="table-layout: fixed">
                    <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th><a href="/patient/new"
                               class="tooltipped btn-floating btn-small waves-effect waves-light blue"
                               data-tooltip="Abrir a tela de cadastro de um novo paciente"><i
                                class="material-icons">add</i></a>
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="patient : ${patients}">
                        <td><span th:text="${patient.id}"></span></td>
                        <td><span th:text="${patient.name}"></span></td>
                        <td><span th:text="${patient.surname}"></span></td>
                        <td>
                            <a class="btn-floating btn-small waves-effect waves-light blue delete tooltipped"
                               th:data-tooltip="${'Inativar o cadastro do paciente ' + patient.name}"
                               th:data-url="${(#mvc.url('PC#deletePatient').arg(0, patient.id)).build()}"><i
                                    class="material-icons">delete</i></a>
                            <a class="btn-floating btn-small waves-effect waves-light blue tooltipped"
                               th:data-tooltip="${'Abrir a tela de edição dos dados do paciente ' + patient.name}"
                               th:href="${(#mvc.url('PC#editPatient').arg(0, patient.id)).build()}"><i
                                    class="material-icons">edit</i></a>
                            <a class="btn-floating btn-small waves-effect waves-light blue tooltipped"
                               th:data-tooltip="${'Imprimir a ficha do paciente ' + patient.name}" target="_blank"
                               th:href="${'/report/patient-registry/' + patient.id}"><i
                                    class="material-icons">local_printshop</i></a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>