<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <h2 class="center">Cadastro de Processos</h2>
            <div class="row">
                <nav>
                    <div class="nav-wrapper blue darken-1">
                        <div class="col s12">
                            <a class="breadcrumb" th:href="@{/}">Home</a>
                            <a class="breadcrumb">Cadastro de Processos</a>
                        </div>
                    </div>
                </nav>
            </div>
            <div class="row">
                <form th:action="@{/process}" method="get">
                    <div class="input-field col s3">
                        <input id="filtro_crm" name="filtro_crm" type="text" th:value="${filtro_crm}">
                        <label for="filtro_crm">CRM</label>
                    </div>
                    <div class="input-field col s7">
                        <input id="filtro_name" name="filtro_name" type="text" th:value="${filtro_name}">
                        <label for="filtro_name">Nome</label>
                    </div>
                    <div class="col s2">
                        <div class="row">
                            <a onclick="limparcampos()" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-tooltip="Limpar Campos">
                                <i class="material-icons">clear_all</i></a>
                            <button type="submit" class="btn-floating btn-large waves-effect waves-light blue tooltipped" data-tooltip="Pesquisar"><i
                                    class="material-icons">search</i></button>
                        </div>
                    </div>
                </form>
            </div>
            <table >
                <thead>
                <tr >
                    <th>Código</th>
                    <th>Médico</th>
                    <th>Paciente</th>
                    <th><a href="/process/new" class="btn-floating btn-small waves-effect waves-light blue tooltipped" data-tooltip="Adicionar"><i
                            class="material-icons">add</i></a>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="process : ${process}">
                    <td th:text="${process.id}"><span></span></td>
                    <td th:text="${process.doctor.getName()}"><span></span></td>
                    <td th:text="${process.patient.getName()}"><span></span></td>
                    <td>
                        <!--<a class="btn-floating btn-small waves-effect waves-light blue tooltipped"-->
                           <!--th:href="${(#mvc.url('DC#editDoctor').arg(0, doctor.id)).build()}" data-tooltip="Editar"><i class="material-icons">edit</i></a>-->
                        <!--<a class="btn-floating btn-small waves-effect waves-light blue delete tooltipped"-->
                           <!--th:data-url="${(#mvc.url('DC#deleteDoctor').arg(0, doctor.id)).build()}" data-tooltip="Excluir"><i class="material-icons">delete</i></a>-->
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

</html>