<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="corpo">
    <div class="container">
        <div class="row">
            <div class="col s12 m6">
                <div class="card blue darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Relatório de Pacientes</span>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/report/patient-report}">Clique aqui</a>
                    </div>
                </div>
            </div>
            <div class="col s12 m6">
                <div class="card red darken-1">
                    <div class="card-content white-text">
                        <span class="card-title">Relatório de Processos</span>
                    </div>
                    <div class="card-action">
                        <a th:href="@{/report/process-report}">Clique aqui</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>